<meta charset="UTF-8">
<meta name="description" content="Fab El Official Site - Bearing roots in the suburbs of Toronto, Canada, Fab El brings together a medley of modern pop culture beats blended with lyrical references that can be traced through the pages of history. Challenging the norm of today's musical style, Fab El tries to build upon the very core values that made him the man he is today.">
<meta name="keywords" content="music, fab el, fabel sounds, FabEl, art, canada, toronto, mississauga, rapper">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">