<a class="social-link" target="_blank" href="https://www.facebook.com/ElohimFab"><i class="fab fa-facebook"></i></a>
<a class="social-link" target="_blank" href="https://www.twitter.com/FabElohim"><i class="fab fa-twitter"></i></a>
<a class="social-link" target="_blank" href="https://www.instagram.com/fabelohim/"><i class="fab fa-instagram"></i></a>
<a class="social-link" target="_blank" href="https://www.youtube.com/user/fabelohim"><i class="fab fa-youtube"></i></a>
<a class="social-link" target="_blank" href="https://soundcloud.com/fabelohim"><i class="fab fa-soundcloud"></i></a>
<!-- <a class="social-link" target="_blank" href="#"><i class="fab fa-spotify"></i></a>
<a class="social-link" target="_blank" href="#"><i class="fab fa-itunes"></i></a> -->