#music {
	//Music Page
	
	background: #000;

	#main {
		background: #000 url("../images/music-hero.jpg");
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		min-height: 400px;
		width: 100%;
		position: relative;
		margin-bottom: 100px;

		@include xx-large {
			background-position: 50% 50%;
			min-height: 600px;
			margin-bottom: 160px;
		}

		.text-container	{
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translateY(-50%) translateX(-50%);
		

			@include xx-large {
				left: 50%;
				top: 50%;
				bottom: auto;
			}

			#title-text {
				color: white;
				opacity: 1;
				position: relative;
				left: 0;
			}
		}
	}

	.songs {
		margin: 75px 0;
		text-align: center;

		h3 {
			color: white;
			margin: 75px 0;

			@include xx-large {
				margin: 135px 0;
			}
		}

		@include xx-large {
			margin: 100px 0;
		}

		iframe {
			padding: 0 40px;
			width: 100%;

			@include large {
				max-width: 768px;
				width: 100%;
				margin: 0 auto;
			}
		}
	}

	#social {
		padding: 75px 0;
		text-align: center;

		@include xx-large {
			padding: 100px 0;
		}
	}
}