#shop {

	#main {
		background: #000 url("../images/shop-hero.png");
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		min-height: 100vh;
		width: 100%;
		position: relative;

		@include xx-large {
			background-position: 50% 50%;
		}

		.text-container	{
			position: absolute;
			text-align: center;
			width: 100%;
			top: 50%;
			transform: translateY(-50%);

			#title-text {
				color: white;
				opacity: 1;
				position: relative;
				left: 0;
			}
		}
	}
}