<!DOCTYPE html>
<html lang="en">
	<head>
		<%= require('html-loader!../assets/partials/head.html') %>
		<title>FabEl</title>
	</head>

	<body id='videos'>
		<%= require('html-loader!../assets/partials/header.html') %>
		<section id="main">
			<div class="text-container">
				<h2 id="title-text">
					Watch
				</h2>
			</div>
		</section>
		<section id="video-1">
			<video controls poster="<%= require('../assets/videos/levitate/levitate-poster.png') %>" controlsList="nodownload">
			  <source src="<%= require('../assets/videos/levitate/levitate.mp4') %>" type="video/mp4">
			  <p>Your browser doesn't support HTML5 video. Here is
			     a <a href="#">link to the video</a> instead.</p>
			</video>
		</section>
		<section id="social" class="inverted">
			<h3 class="title">Connect.</h3>
			<%= require('html-loader!../assets/partials/social.html') %>
		</section>
		<footer class="inverted">
			<%= require('html-loader!../assets/partials/footer.html') %>
		</footer>
	</body>
</html>
