<!DOCTYPE html>
<html lang="en">
<%= require('html-loader!../assets/partials/head.html') %>

<body id='contact'>
	<%= require('html-loader!../assets/partials/header.html') %>
	<section id="main">
		<div class="text-container">
			<h2 id="title-text">
				Contact
			</h2>
		</div>
	</section>
	<section id="information">
		<div class="flex-container">
			<div class="flex-left">
				<div class="text-container">
					<h3>Business Inquiry</h3>
					<a class="h5" href="mailto:business@fabelsounds.com">business@fabelsounds.com</a>
				</div>
			</div>
			<div class="flex-right">
				<div class="text-container">
					<h3>Connect</h3>
					<%= require('html-loader!../assets/partials/social.html') %>
				</div>
			</div>
		</div>
	</section>
</body>
</html>
