<!DOCTYPE html>
<html lang="en">
	<head>
		<%= require('html-loader!../assets/partials/head.html') %>
		<title>FabEl - Official Site</title>
	</head>

	<body id='music'>
		<%= require('html-loader!../assets/partials/header.html') %>
		<section id="main">
			<div class="text-container">
				<h2 id="title-text">
					Listen
				</h2>
			</div>
		</section>
		
		<section class="songs" id="song-1">
			<h3>Coming Soon</h3>
			
			<iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/635169456&color=%23000000&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
			<!-- <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/635169456&color=%23000000&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe> -->
		</section>
		<section class="songs" id="song-2">
			<iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/635168616&color=%23000000&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
<!-- 			<iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/635168616&color=%23000000&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe> -->
		</section>
		<section id="social" class="inverted">
			<h3 class="title">Connect.</h3>
			<%= require('html-loader!../assets/partials/social.html') %>
		</section>
		<footer class="inverted">
			<%= require('html-loader!../assets/partials/footer.html') %>
		</footer>
	</body>
</html>
