<!DOCTYPE html>
<html lang="en">
	<head>
		<%= require('html-loader!../assets/partials/head.html') %>
		<title>FabEl - Official Site</title>
	</head>

	<body id='about'>
		<%= require('html-loader!../assets/partials/header.html') %>
		<section id="main">
			<div class="text-container">
				<h2 id="title-text">
					About
				</h2>
			</div>
		</section>
		<section id="content">
			<h3 class="quote">A Medley of Past and Present</h3>
			<p>Bearing roots in the suburbs of Toronto, Canada, Fab El brings
			together a medley of modern pop culture beats blended with lyrical references
			that can be traced through the pages of history. Challenging the norm of
			today's musical style, Fab El tries to build upon the very core values that
			made him the man he is today. 
			</p>

			<p> You can check out the EPK <a href="https://github.com/rohanbhangui/fabianmayerswebsite/raw/master/src/assets/files/epk.pdf">here</a></p>
<!-- 
			<p>Rooted in the suburbs of Toronto, CA, Fab El derives his inspiration from his ancetral origins, some 2000 years ago. FabEl brings references from past and blends them with new age beats to create combinations that talk about many of the issues newer generations are facing.</p>

			<p>Born Fabian Mayers in [year], FabEl started his music career working towards making music that had deeper meaning.</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->
		</section>
		<section id="social" class="inverted">
			<h3 class="title">Connect.</h3>
			<%= require('html-loader!../assets/partials/social.html') %>
		</section>
		<footer class="inverted">
			<%= require('html-loader!../assets/partials/footer.html') %>
		</footer>
	</body>
</html>
